
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;900&family=JetBrains+Mono:ital,wght@0,400;0,800;1,300&display=swap');

body *{
 /* font-family: 'Inter Tight', sans-serif; */
  font-family: 'JetBrains Mono', monospace;
}

.shadow{
  border: 3px solid;
  padding: 10px;
  box-shadow: 5px 5px hsla(0,0%,0%, 0.86)	;
}

.shadow-p{
  border: 3px solid #22c55e;
  padding: 10px;
  box-shadow: 5px 5px hsla(0,0%,0%, 0.86);
}

.shadow-error{
  border: 3px solid red;
  padding: 10px;
  box-shadow: 5px 5px hsla(180deg, .04, .05, 0.6);
}

.inner-shadow{
  box-shadow: inset 0 0 4px #22c55e;
}

.rw-table *{

}

#reset *{
background-color: black;
color: white;
}

.custom-max{
max-width: 1500px;
margin: 0 auto;
}

#tbl{
color: green;
background-color: green;
}

#tbl * {
color: rgb(234 179 8);
}


@media only screen and (max-width: 600px) {
  .shadow-p{
    border: 0px solid black;
    padding: 10px;
    box-shadow: none;
  }
}

.maxy{
max-width: 400px;
}

.bor{
border-bottom: 1px solid;
}


.example-enter {
  opacity: 0;
  transform:translateX(-100%);
}
.example-enter-active {
  opacity: 1;
  transform:translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.example-exit {
  opacity: 1;
  transform:translateX(0);
}
.example-exit-active {
  opacity: 0;
  transform:translateX(-100%);
  transition: opacity 900ms, transform 900ms;
}
